<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siddhant Singh</title>
</head>
<body>
    <div class="wrapper">
        Clicks:<%= countValue %>
    </div>
</body>
</html>